<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to home </h1>
    <%  if( student ) {  %>
      <h1>welcome to mekdim <%=student.FullName%> your id is  <%= student.StudentID %>   </h1>
   
    <%  } else { %>
    <h1> you have to be logged in </h1>
    <a href="/login">login</a>
    <% } %>
</body>
</html>