<html>
  <head> </head>
<body>

  <h1>Intratransfer Application</h1>						<!--main function of page-->
  <h2>Students Name</h2>

  <form action="/intraTransferReq" method="post">
  	<label for="fname"><sub>First Name:</sub></label>			<!--first name information-->
 	    <input type="text" id="fname" name="fname" value="">

	<label for="mname"><sub>Middle Name:</sub></label>			<!--middle name information-->	
 	    <input type="text" id="mname" name="mname" value="">

        <label for="lname"><sub>Last Name:</sub></label>			<!--last name information-->
            <input type="text" id="lname" name="lname" value=""><br><br>

        <label for="date"><sub>Date of Birth:</sub></label>			<!--date of birth information-->
 	    <input type="text" id="date" name="date" value="dd/mm/yyyy">

        <label for="id"><sub>ID:</sub></label>					<!--ID information-->
 	    <input type="text" id="id" name="id" value=""><br><br>
	
        <label for="sex"><sub>Sex:</sub></label>				<!--Sex information-->
 	    <input type="text" id="sex" name="sex" value="">

        <label for="cgpa"><sub>CGPA:</sub></label>				<!--cgpa information-->
 	    <input type="text" id="cgpa" name="cgpa" value=""><br><br>

        <label for="egy"><sub>Expected Graduation Year:</sub></label>		<!--graduation year information-->
 	    <input type="text" id="egy" name="egy" value=""><br><br>

        <label for="depfrom"><sub>Department from:</sub></label>		<!--department from information-->
 	    <input type="text" id="depfrom" name="depfrom" value="">

        <label for="depto"><sub>Department to:</sub></label>			<!--department to information-->
 	    <input type="text" id="depto" name="depto" value=""><br><br>
            <input type="submit" value="Submit">				<!--submit button-->
  </form>

</body>
</html>